.section__header {
  background: url("../img/desktop/bg1.jpg") center, no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  color: #8d81ac;

  .intro {
    text-align: center;
    &__text {
      color: #848e97;
      margin-top: 35px;
    }
    .download {
      padding: 20px 60px;
      border-radius: 20px;
      background: #8d81ac;
      margin-top: 450px;
      display: inline-block;
      border: 1px solid #8d81ac;
      font-size: 21px;
      font-weight: bold;
      transition: all .5s;
      &:hover {
        background: white;
        color: black;
      }
      .download__subtitle {
        font-size: 14px;
        color: #848e97;
      }
    }
  }
}
.header {
  background: #27262a;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:hover .logo__img {
      opacity: 0;
    }
    &:hover {
      background: url("../img/desktop/logo-hover.png") no-repeat;
      a {
        color: white;
      }
    }
    a {
      font-family: $font-primary;
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      color: #8d81ac;
      padding-left: 5px;

    }
  }
  &__nav {
    position: absolute;
    right: 190px;
    ul {
      display: flex;
      li {
        padding: 0 20px;
        a {
          color: #8d81ac;
          font-weight: bold;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .btn__buy {
    position: absolute;
    right: 0;
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #8d81ac;
    display: block;
    transition: all .5s;
    &:hover {
      background: white;
      color: black;
      border: 1px solid #8d81ac;
    }
  }
}

@media (max-width: 1170px) {
  .section__header {
    background: url("../img/tablet/bg.jpg") center, no-repeat;
    background-size: cover;

    .header {
      &__wrap {
        padding-top: 30px;
        align-items: start;
        height: 100px;
      }

      .header__logo {
        padding-top: 8px;
      }

      &__nav {
        right: 13%;
        top: 80px;

        ul {
          li {
            padding: 0 25px;
          }
        }
      }

      .btn__buy {
        padding: 10px 35px;
        border-radius: 20px;
      }
    }

    .intro {
      &__text {
        color: #848e97;
        margin-top: 35px;
      }
      .download {
        margin-top: 461px;
      }
    }
  }
}

@media (max-width: 778px) {
  .logo__img {
    display: none;
  }
  .section__header {
    height: 720px;
    .header {
      &__wrap {
        height: 70px;
      }
      .header__logo {
        background: #27262a;

        &:hover {
          background: #27262a;
        }
       
      }
      .btn__buy {
        right: calc(50% - 71px);
      }
      &__burger.active {
        span {
          background: #27262a;

          &:before {
            transform: rotate(135deg);

            bottom: 5px;
          }
          &:after {
            transform: rotate(45deg);
            bottom: 23px;
          }
        }
      }
      .header__burger {
        padding: 0;
        position: absolute;
        top: 43px;
      }
      &__burger {
        display: block;
        width: 44px;
        height: 37px;
        background-color: #27262a;
        position: absolute;
        right: 0;
        top: 0;
        span {
          display: block;
          height: 3px;
          width: 25px;
          background: white;
          position: relative;
          top: calc(50% - 25px);
          left: calc(50% - 15px);
          border-radius: 2px;
          &:before,
          &:after {
            content: "";
            position: relative;
            height: 3px;
            width: 30px;
            right: 5px;
            display: inline-block;
            background: white;
            transition: 0.1s all;
            border-radius: 2px;
          }
          &:before {
            bottom: 3px;
          }
          &:after {
            bottom: 13px;
          }
        }
      }
      &__nav.active {
        display: block;
      }
      &__nav {
        display: none;
        width: 320px;
        top: 100px;
        right: 15px;
        background: #27262a;
        z-index: 100;
        ul {
          margin: 0;
          display: block;
          padding-left: 0;
          li {
            padding: 30px 0;
            a {
              padding: 10px 0 10px 24px;
              border-left: 10px solid #27262a;
              font-size: 24px;
              color: white;
              &:hover {
                color: #8d81ac;
                border-left: 10px solid #8d81ac;
              }
            }
          }
        }
      }
    }

    .intro {
      &__text {
        color: #848e97;
        margin-top: 35px;
      }
      .download {
        padding: 15px 25px;
        margin-top: 421px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 460px) {
  .section__header {
    height: 579px;
    .header {
      &__logo {
        color: wheat;
        a {
          font-size: 20px;
        }
      }

      &__wrap {
        height: 95px;
        align-items: center;
        padding: 0;
      }
      .btn__buy {
        right: calc(50% - 81px);
      }
    }

    .intro {
      .download {
        margin-top: 263px;
      }
    }
  }
}

@media (max-width: 320px) {
  .section__header {

  .header {
    font-size: 22px;
  
  .btn__buy {
    right: calc(50% - 76px);
    padding: 10px 20px;
    font-size: 20px;
  }
}
  }
}
