.present{
  margin-top: 120px;
  text-align: center;

  &__text{
    color: #5b5b5b;
  }
  &__link{
    display: flex;
    justify-content: center;

  }
  &__btn{
    color: #333;
    align-items: center;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    display: flex;
    margin: 40px 10px 60px 10px;
    box-sizing: border-box;
    font-family: $font-primary;
    button{
      padding: 4px 10px 4px 5px;
      color: #333;
      cursor: pointer;
      }

    p{
      margin: 0;
      padding: 0 5px;
    }
  }
}

@media (max-width: 768px){
  .present{
    margin-top: 150px;
    &__text{
      font-size: 21px;
    }
  }
}

@media (max-width: 768px) {
  .present{
    &__text{
      font-size: 14px;
    }
    &__link{
      flex-wrap: wrap;
      margin-bottom: 80px;
    }
    &__btn{
      margin: 35px 10px 0 10px;
    }
  }
}