.review {
  background: url("../img/desktop/bg2.jpg") center, no-repeat;
  background-size: cover;
  height: 870px;
  &__title {
    padding-top: 100px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 30%;
    text-align: center;
    padding-top: 100px;
  }
  &__text {
    font-family: $font-primary;
    font-weight: 900;
    font-style: italic;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
  }
  &__subtext {
    color: #a291a5;
    text-align: center;
    width: 860px;
    margin: 0 auto;
    padding-top: 120px;
    &:after {
      display: block;
      content: "";
      height: 1px;
      width: 788px;
      background: #a291a5;
      margin: 10px auto;
    }
  }
}

@media (max-width: 1170px) {
  .review {
    background: url("../img/tablet/bg2.jpg") center, no-repeat;
    background-size: cover;
    height: 820px;
    &__title {
      padding-top: 80px;
    }
    &__wrap {
    }
    &__item {
      width: 45%;
      padding-top: 50px;
      &:nth-child(4) {
        padding-top: 90px;
      }
    }
    &__text {
      margin: 0 auto;
      padding-top: 30px;
    }
    &__subtext {
      width: 100%;
      padding-top: 65px;
      &:after {
        display: block;
        content: "";
        height: 1px;
        width: 90%;
        z-index: 1000;
        background: #a291a5;
        margin: 10px auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .review {
    background: url("../img/mobail/bg2.jpg") center, no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: -10px;
    &__title {
      padding-top: 60px;
    }
    &__item {
      width: 100%;
      padding-top: 40px;
      &:nth-child(4) {
        padding-top: 40px;
      }
    }
    &__text {
      margin: 0 auto;
      padding-top: 30px;
    }
    &__subtext {
      font-size: 0px;
      padding-top: 65px;
    }
  }
}
