.skill {
  background: #f4f4f4;
  padding-top: 88px;
  position: relative;
  &__wrap {
    display: flex;
  }
  &__benefit {
    width: 43%;
    margin-right: 5%;
  }
  &__img {
    background: url("../img/desktop/editor.png");
    position: absolute;
    right: 0;
    top: 160px;
    height: 520px;
    width: 700px;
  }
}
.elm {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  img {
    position: absolute;
  }
  &__icon {
    left: 20px;
  }
  .left {
    left: 5px;
  }
  &__info {
    padding-left: 150px;
    p {
      padding-top: 10px;
      color: #848e97;
    }
  }
}

@media (max-width: 1170px) {
  .skill {
    padding-top: 40px;
    height: 1260px;
    &__editor {
      order: -1;
    }
    &__wrap {
      flex-direction: column;
    }
    &__benefit {
      width: 100%;
      flex-direction: column;
      margin-right: 0;
      padding-top: 60px;
    }
    &__img {
      top: 732px;
    }
  }
}
@media (max-width: 768px) {
  .skill {
    padding-top: 60px;
    height: 1450px;

    &__benefit {
      margin-right: 0;
      padding-top: 60px;
    }
    &__img {
      top: 1098px;
      background: url("../img/mobail/editor.png");
      height: 380px;
      width: 317px;
    }
  }
  .elm {
    margin-bottom: 20px;
    img {
      left: calc(50% - 30px);
    }
    &__icon {
      left: 20px;
    }
    .left {
      left: calc(50% - 40px);
    }
    &__info {
      padding-left: 0;
      padding-top: 100px;
      text-align: center;
      p {
        padding-top: 10px;
        color: #848e97;
      }
    }
  }
}
@media (max-width: 460px) {
  .skill {
    padding-top: 60px;
    height: 1500px;

    &__benefit {
      margin-right: 0;
      padding-top: 60px;
    }
    &__img {
      top: 1150px;
      background: url("../img/mobail/editor.png");
      height: 380px;
      width: 317px;
    }
  }
}

@media (max-width: 500px) {
  .skill {
    height: 1550px;

    &__img {
      top: 1200px;
    }
  }
}
@media (max-width: 370px) {
  .skill {
    height: 1600px;

    &__img {
      top: 1250px;
    }
  }
}
