.subscription{
  background: url("../img/desktop/bg3.jpg")center, no-repeat;
  background-size: cover;
  margin-top: -1px;

  &__title{
    padding-top: 70px;
  }
  &__wrap{
    display: flex;
    justify-content: space-around;
    padding:125px 0 140px 0;
  }

  &__item{
    height: 459px;
    width:262px;
    text-align: center;
    position: relative;
    transition: all .5s;
    p{
      margin: 0 auto;
     }
  }
  &__item:hover {
    width:272px;
  }
  &__item:hover &__stuff {
    background: #463048;
  }
  &__item:hover &__name {
    background: rgba(0,0,0,0.2);
  }

  &__name{
    background: rgba(255,255,255,0.2);
    width: 100%;
    height: 100px;
    &-item{
      font-size: 24px;
      text-transform: uppercase;
      line-height: 20px;
      padding-top: 40px;
    }
  }
  &__stuff{
    background: rgba(255,255,255,0.1);
    width: 100%;
    height:359px;

  }
  &__prise{
    font-size: 60px;
    padding-top: 35px;
  }
  &__month{
    font-size: 14px;
    color: rgba(255,255,255,0.2);
    text-transform: uppercase;
    padding-top: 25px;
    &:after{
      display: block;
      content: "";
      height: 5px;
      width: 60px;
      background: #8d81ac;
      margin:35px auto 30px auto;
    }
  }
  &__info{
    padding-bottom: 40px;
    width: 220px;
    line-height: 20px;
    &:nth-child(1){
      padding-bottom: 60px;
    }
  }
  &__button{
    background: rgba(255,255,255,0.2);
    padding: 10px 35px;
    text-transform: uppercase;
    border-radius: 50px;
    position: absolute;
    bottom:50px;
    left: calc(50% - 82.5px);
    &:hover{
      background: rgba(255,255,255,0.4);
    }
  }
}

@media (max-width: 1170px) {
  .subscription{
    background: url("../img/tablet/bg3.jpg")center, no-repeat;
    background-size: cover;
    height: 1310px;
    &__title{
      padding-top: 150px;
    }
    &__wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding:0 0 0 0;
    }

    &__item{
      height: 459px;
      width:262px;
      margin: 45px 10px;
      text-align: center;
      position: relative;

    }
  }
}

@media (max-width: 768px) {
  .subscription{
    background: url("../img/mobail/bg3.jpg")center, no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 100px;
    &__title{
      padding-top: 70px;
      font-size: 28px;
      padding-bottom: 50px;
    }
    &__wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding:0 0 0 0;
    }

    &__item{
      height: 459px;
      width:262px;
      margin: 5px 5px;
      text-align: center;
    }
  }
}