body{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin:0 auto;
    padding: 20px 0;
    background-color: #3a4965;
    height: 100vh;
}

table{
    border-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

th{
    padding: 25px 40px;
    background-color: white;
    border-left: 3px solid rgba(0,0,0,0.1);
    color: #484848;
    font-weight: bold;
}

tr{
    background-color: white;
    width: 25%;
}
td{
    border-left: 3px solid rgba(0,0,0,0.1);
    padding: 20px 40px;
    font-size: 16px;
    color: #848484;
}

th:nth-child(2){
    background-color: #89c331 ;
    color: white;
    font-size: 24px;
}
th:nth-child(3){
    background-color: #f04a56 ;
    color: white;
    font-size: 24px;
}

tr:first-child th:nth-child(4){
    background-color: #20807c ;
    color: white;
    font-size: 24px;
}

tr:nth-child(2n){
    background-color: #e3e3e3 ;
}

tr:nth-child(2n+1){
    background-color: #f2f2f2;
}

th:first-child{
    border-left: none;
    border-right: 3px solid rgba(0,0,0,0.1);
}

td:first-child{
    border-left: none;
}

.sub_title{
    font-size: 30px;
    font-weight: bold;
}

.icon{
    padding-right: 10px;
}

.prise{
    font-size: 60px;
    font-weight: bold;
    color: #484848;
    position: relative;
    background-color: white;
}

.cent{
    font-size: 24px;
    position: absolute;
    padding: 10px 0;
}
.month{
    font-size: 16px;
    font-weight: 400;
    color: #848484;
}

.btn{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 20px 50px 10px 50px;
    border: none;
    border-radius: 3px;
    border-bottom: 10px solid rgba(0,0,0,0.1);
}
.btn:hover{
    box-shadow:0 15px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all .7s;
}

.gray{
    background-color: #484848;
}

.green{
    background-color: #89c331;
}
.pink{
    background-color: #f04a56;
}
.blue{
    background-color: #20807c;
}