body{
    margin: 0 auto;
    padding: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 1170px;
    font-size: 20px;

}

.wrap{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 360px;
}

.wrap__elm{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    margin: 1px 1px 0 0;
}