.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_blok {
    align-items: center;
    display: flex;
    width: 80%;
    padding: 0 0 14px;
    label {
      display: block;
      width: 20%;
    }
  }
}

.input {
  width: 60%;
  font-size: 14px;
  color: #434343;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding: 10px 0 10px 10px;
}
.submit {
  background: white;
  display: block;
  padding: 15px 20px;
  margin-top: 25px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.144);
  font-size: 16px;
  cursor: pointer;
  transition: background 1s;
  &:hover {
    background: rgb(183, 243, 183);
  }
  &:focus {
    outline: none;
  }
}

input:focus {
  color: #345434;
  border: 1px solid white;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"] {
  content: "\2714";
  color: #329a65;

  display: inline-block;
  border: 1px solid #eaeaea;
  font-size: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
}
input[type="checkbox"]:checked + label:before {
  color: #329a65;
}
input:focus {
  background-color: rgb(232, 240, 254);
}
.textarea {
  overflow: auto;
  resize: none;
  outline: none;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 5px 10px;
}
