body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  max-width: 1170px;
  font-size: 20px;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title__wrap{
  border: 1px solid black;
  padding: 10px;

}

.title__name{
  font-size: 25px;

}


.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: black;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
