body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.intro {
  background: url(../img/background/section-1.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 120px;
}
.header__background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.logo__img {
  position: absolute;
  left: 0;
  top: 28px;
}
.logo__text {
  font-size: 32px;
  margin-left: 65px;
  color: white;
}

.highlight {
  font-weight: bold;
  color: #18cfab;
}
.nav__item {
  display: inline-block;
  margin-right: 10px;
}
.nav__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b8b8b8;
  margin: 0 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.nav__search {
  position: absolute;
  top: 50px;
  right: 0;
  color: #b8b8b8;
  margin-left: 20px;
  display: inline-block;
}
.nav__search:hover {
  color: #18cfab;
}

.nav__link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  display: inline-block;
}

/*intro_content*/

.intro__content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.intro__suptitle {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
}

.intro__title {
  font-size: 79px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro__subtitle {
  color: #d4d4d4;
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 135px;
}
.btn {
  text-transform: uppercase;
  padding: 25px 30px;
  border-radius: 10px;
  background-color: #18cfab;
  font-size: 13px;
  border-top: 5px solid white;
  color: white;
  margin: 0 15px;
}

/*section options*/

.option {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.option_element:nth-child(2n + 1) {
  background-color: #1c2a33;
  color: #18cfab;
  border-top: 8px solid #18cfab;
}

.option_element {
  background-color: #18cfab;
  text-align: center;
  color: white;
  border-top: 8px solid white;
  width: 25%;
  padding: 90px 0 115px 0;
}

.option_icon {
  font-size: 90px;
  padding-bottom: 45px;
}

.option_name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.service {
  margin-top: 80px;
  position: relative;
}

.section__title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 79px;
  position: relative;
}
.section__title:before {
  content: "";
  display: block;
  box-sizing: border-box;
  height: 1px;
  width: 50px;
  background-color: #18cfab;
  position: absolute;
  top: 70px;
  left: 49%;
}
.section__title:after {
  content: "";
  display: block;
  box-sizing: border-box;
  height: 1px;
  width: 50px;
  background-color: #18cfab;
  margin: 22px auto;
}

.wrapper .active {
  color: white;
  background-color: #18cfab;
}
.wrap__service {
  display: flex;
}
.tabs {
  display: flex;
}
.tab {
  margin-bottom: 20px;
  cursor: pointer;
  color: #717171;
  padding: 15px 20px;
  font-size: 16px;
  width: 17%;
  border: 1px solid #eeeeef;
  text-align: center;
  background-color: #f8fcfe;
}

.tab__text {
  margin: 10px 0 0 20px;
}
/* purchase section*/

.purchase {
  text-align: center;
  background: url("../img/background/section-2.jpg") no-repeat center;
  background-size: cover;
  height: 470px;
  margin-top: 100px;
}

.purchase__title {
  font-size: 40px;
  font-weight: 700;
  color: #18cfab;
  padding: 120px 0 20px 0;
  text-transform: uppercase;
}

.purchase__subtitle {
  display: block;
  font-size: 16px;
  color: #d8d8d8;
  margin-bottom: 70px;
}
/* Section Our Amazing Works */
.works {
  padding: 100px 0;
  background: #f8fcfe;
  border-bottom: 1px solid #e1e1e1;
}

.works__header {
  margin: 0 0 65px 0;
}
.works__nav {
  display: flex;
  justify-content: center;
}
.works__list {
  display: flex;
  justify-self: center;
  align-items: center;
}
.works__link {
  padding: 20px 15px;
  border: 1px solid #e1e1e1;
  background-color: white;
  cursor: pointer;
}
.works__link:hover {
  padding-top: 19px;
  border-top: 2px solid #18cfab;
  color: #18cfab;
}
.active__works {
  cursor: pointer;
  padding-top: 19px;
  border-top: 2px solid #18cfab;
  color: #18cfab;
}

.works__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.works__content_item {
  width: 25%;
  height: 200px;
  background: white;
  border-top: 2px solid #f8fcfe;
  position: relative;
}
.works__content_item:hover {
  border-top: 2px solid #18cfab;
}
.works__content_item:hover .works__content_info {
  display: block;
}
.works__content_item:hover .works__contenet_img {
  opacity: 0;
}

.works__contenet_img {
  width: 100%;
  transition: opacity 0.5s;
}
.works__content_info {
  display: none;
  position: absolute;
  top: 20%;
  right: 26%;
}
.works__content_icons {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.works__content_icon {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  color: white;
  background: #18cfab;
  cursor: pointer;
}

.works__content_icon:hover {
  color: #18cfab;
  background: white;
}

.works__content_text {
  text-align: center;
  font-size: 12px;
  color: #8a8a8a;
}
.works__content_title {
  color: #18cfab;
  text-transform: uppercase;
  font-size: 14px;
}
/* news */

.news {
  margin-top: 85px;
  position: relative;
}

.news__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.news__item {
  background-color: #f8fcfe;
  border: 1px solid #ececec;
  position: relative;
  padding-bottom: 10px;
}

.news__title {
  font-size: 18px;
  font-weight: 700;
  color: #717171;
  padding: 15px 10px 5px 15px;
}

.news__item:hover .news__title {
  cursor: pointer;
  color: #18cfab;
}

.author {
  padding: 0 15px 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: #777777;
}

.comment {
  font-size: 14px;
  font-weight: 300;
  color: #777777;
}

.comment:before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #777;
  margin-right: 15px;
}
.news__item:hover {
  cursor: pointer;
}
.news__date {
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background-color: #203e38;
}
.date {
  display: block;
  padding-bottom: 5px;
}
.news__item:hover .news__date {
  background-color: #18cfab;
}

.review {
  margin-top: 85px;
  padding-top: 60px;
  position: relative;
  background: url(../img/background/section-3.jpg) no-repeat center;
}
.review__subtitle {
  color: #18cfab;
  font-size: 40px;
  margin: 40px 0;
  text-align: center;
}

.white {
  color: white;
}
.review__slider {
  /* width: 70%;
  margin: 0 auto; */
  padding: 38px 0 60px 0;
}
.review__slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-track {
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slick-list {
  width: 100%;
}
.review__block {
  border-radius: 50%;
  margin: 0 10px;
  width: 100px;
}
.slider__title {
  font-size: 27px;
  color: #18cfab;
  letter-spacing: 2px;
  text-align: center;
}
.review__text {
  margin: 0 auto 30px;
  width: 60%;
  text-align: center;
  line-height: 26px;
}
.slider__subtitle {
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}
.review__img {
  border-radius: 50%;
  width: 100px;
  cursor: pointer;
  height: 100px;
  border: 5px solid rgba(43, 187, 192, 0.3);
  margin: 0 10px;
}
.slick-slide {
  width: 200px;
}
.review__show-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 5px solid rgba(43, 187, 192, 0.3);
}

.footer {
  background: #22353f;
  height: 100px;
  margin-bottom: 18px;
}
.footer__copyright {
  text-align: center;
  color: white;
  padding-top: 40px;
}

.prev {
  padding: 10px;
  background: black;
}
.next {
  padding: 10px;
  background: black;
}

.btn__seemore {
  display: block;
  margin: 30px auto 0;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  transition: color 0.4s linear;
  transition: border 0.4s linear;
}
.btn__seemore:hover {
  color: #18cfab;
  border: 2px solid #18cfab;
}
