.edit {
  display: flex;
  align-items: center;

  &__input {
    display: block;
    margin: 0 15px;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    color: #7b8a8b;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  div {
    padding: 20px 0;
    &:nth-child(1) {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &:nth-child(2) {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &:nth-child(3) {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &:nth-child(4) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
