.header {
  height: 100px;
  background: #292b2c;
  font-weight: bold;
  font-size: 2rem;

  &__wrap {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    background: rgba($color: #14e00d, $alpha: 0.5);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5rem;
    color: white;
    text-decoration: none;
    &:hover {
      background: rgba($color: #0f630c, $alpha: 0.5);
    }
  }
}
