.table {
  padding: 5px;
  border: 1px solid rgba(51, 51, 51, 0.13);
  box-shadow: 0 0 4px 1px rgba(0, 0, 255, 0.1);
  border-radius: 5px;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  background: white;
  font-size: 14px;

  &__title {
    background: #f7f9f8;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    div {
      p {
        padding-left: 10%;
      }
      &:nth-child(1) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-child(2) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-child(3) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-child(4) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }

  &__item {
    max-height: 70px;
    width: 100%;
    padding: 10px 0 25px 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.13);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    div {
      p {
        padding-left: 20px;
      }
      &:nth-child(1) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-child(2) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-child(3) {
        flex: 0 0 25%;
        max-width: 25%;
      }
      &:nth-child(4) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }

  &__icon-wrap {
    display: flex;
    justify-content: space-evenly;
  }
}
