.card {
  margin: 5rem auto;
  display: flex;
  justify-content: space-evenly;

  &__block {
    background: white;
    width: 30%;
    padding: 10px 15px;
    margin: 0 1.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  &__img {
    width: 200px;
    height: 200px;
  }
  &__title {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }
  &__text {
    margin-bottom: 1rem;
  }
}
