html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0 auto;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex: 1 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.main {
}
.input {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  outline: none;
}

.btn-blue {
  border: 2px solid lightblue;
  &:focus {
    border: 2px solid lightblue;
    outline: none;
  }
  &:hover {
    background-color: lightblue;
    color: white;
  }
}
.btn-cream {
  border: 2px solid wheat;
  &:focus {
    border: 2px solid wheat;
    outline: none;
  }
  &:hover {
    background-color: wheat;
    color: white;
  }
}
.btn-pink {
  border: 2px solid palevioletred;
  &:focus {
    border: 2px solid palevioletred;
    outline: none;
  }
  &:hover {
    background-color: palevioletred;
    color: white;
  }
}

.readingPage {
  padding: 20px 0;
}
