.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* цвет фона */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
  transition: all 1s;
}
.modal-see {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* цвет фона */
  z-index: 1050;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: all 1s;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  max-width: 700px;
  margin: 70px auto;
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  border: 1px solid #eceeef;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.modal__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eceeef;
  height: 60px;
  font-size: 20px;
}

.modal-info {
  margin-top: 20px;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}
.element {
  display: flex;
  &__name {
    width: 15%;
  }
  &__price {
    width: 10%;
  }
  &__input {
    &-wrap {
      width: 40%;
      display: flex;
      font-size: 20px;
    }
  }
  &__increment {
    cursor: pointer;
    padding: 0 10px;

    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-left: none;
    &:hover {
      background: rgba($color: #000000, $alpha: 0.2);
    }
  }
  &__decrement {
    cursor: pointer;
    padding: 0 10px;

    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-right: none;
    &:hover {
      background: rgba($color: #000000, $alpha: 0.2);
    }
  }
  &__total-price {
  }
}
