.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.btn{
    display: table;
    text-decoration: none;
    margin:50px auto;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    color: black;
    border: 1px solid black;
    transition: all 1s;
    cursor: pointer;
}
.btn:hover{
    color: #F38A03;
    border-radius: 30px;
    border: 1px solid #F38A03;

}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top:50px;
}

.active{
    display: block;
}