body{
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	color: black;
}

a{
	text-decoration: none;
	font-size: 24px;
}

.container{
	margin: 0 auto;
	max-width: 1280px;
	position: relative;

}
/* Header */

.logo{
	font-size: 80px;
	color: black;
}

.highlight{
	color: #4bcaff;
}

.nav__header{
	background-color: #35444f;
	margin: 60px 0 50px 0;
	height: 75px;
}

.menu{
	display: flex;
	justify-content: center;
}

.menu__item{
	margin: 0;
	padding: 0;
}
.menu__link{
	color: white;
	font-size: 24px;
	padding: 0 10px;
	margin: 0 20px;
	display: inline-block;
	line-height: 3.1;
	transition: background-color .5s;
}
.menu__link:hover{
	background-color: #222f3a;
}

/* Main */
.nav__bar{
	width: 340px;
	height: 400px;
	float: left;
	border:1px solid #dbdbdb;
}
.bar__item{
	padding: 23px 0 30px 40px;
	transition: padding-left .5s;
}
.bar__link{
    font-size: 27px;
    color: #35444f;
}
.bar__item:hover{
	background-color: #dbdbdb;
	padding-left: 60px;
}
.img{
	display: flex;
	width: 70%;
	height: 530px;
	float: right;
	border: 1px solid #dbdbdb;
	position: relative;
    overflow: hidden;
}
.img__ramada{
	display: block;
	width: 320px;
	height: 381px;
	margin: auto auto;

	transition: all 1s ease-out;
}
.img__ramada:hover{
	transform: scale(1.2);
}
.text{
	text-align: left;
	font-size: 18px;
	float: right;
	width: 70%;
	padding-top: 50px
}
.text_item:last-child{
	padding-top:24px;
	padding-bottom: 50px;
}

/*Footer*/
.footer{
	clear: both;
	position: relative;
}
.footer__menu{
    height: 75px;
    background-color: #b4b7ba;
}
.footer__item{
    display: inline-block;
}
.footer__link{
	font-size: 28px;
	color: black;
	margin: 0 20px;
	line-height: 2.7;
	transition: color .5s;
}
.footer__link:hover{
	color: #3e85a7;
}
.copyright{
	position: absolute;
	top:29px;
	right: 20px;
	font-size: 24px;
}