body {
  padding-top: 0;
  margin: 0 auto;
  font-size: 14px;
  color: white;
  max-width: 100%;
  font-family: "Verdana", sans-serif;
}
*,
*after,
*before {
  box-sizing: border-box;
}

/* Header */
.header {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  z-index: 0;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  padding-left: 80px;
  text-transform: uppercase;
  transition: color 0.5s;
}

.logo:hover {
  color: #3cb878;
  cursor: pointer;
}

.header_items {
  padding-right: 75px;
  display: flex;
  align-items: center;
}

.icon_link {
  text-decoration: none;
  padding-right: 25px;
  color: white;
  font-size: 20px;
}

.icon_link:hover {
  color: #3cb878;
  cursor: pointer;
}

.header_auntifecation {
  border-left: 1px solid white;
  padding-left: 25px;
}

.header_link {
  text-decoration: none;
  color: #3cb878;
  transition: color 0.5 linear;
}
.header_link:hover {
  color: #28d37b;
}

/* Intro */
.intro {
  height: 100vh;
  max-width: 100%;
  background: url(../img/background.jpg) center no-repeat;
  background-size: cover;
}

.wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.singUp {
  background: white;
  border-radius: 10px;
  height: 555px;
  width: 440px;
}
.sing_container {
  padding: 30px 60px;
}

.sing_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
}
.title {
  color: black;
  font-size: 20px;
  line-height: 1em;
}
.login {
  text-decoration: none;
  color: #3cb878;

  border-bottom: 1px solid #3cb878;
}

.btn_wrap {
  width: 100%;
  display: flex;
}

.btn {
  text-decoration: none;
  margin: 0 auto;
  border-radius: 2px;
  color: white;
  text-align: center;
}
.btn:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.icon {
  font-size: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  margin-left: 0 auto;
  padding-right: 15px;
}

.fasebook {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #264b96;
  padding: 15px 20px;
  width: 49%;
  margin-right: 1%;
}
.google {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #c3412c;
  padding: 15px 20px;
  width: 49%;
  margin-left: 1%;
}

.line {
  color: #848484;
  margin: 30px 0 15px 0;
  text-align: center;
}

.line:after {
  content: "";
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 10px;
  width: 45%;
  height: 1px;
  background: #eaeaea;
}
.line:before {
  content: "";
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 10px;
  width: 44%;
  height: 1px;
  background: #eaeaea;
}

.input {
  width: 96%;
  font-size: 14px;
  color: #434343;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding: 10px 0 10px 10px;
}

input:focus {
  color: #345434;
  border: 1px solid white;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.input:nth-child(5n) {
  margin-bottom: 20px;
}

.input:active {
  box-shadow: 1px;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label:before {
  content: "\2714";
  display: inline-block;
  border: 1px solid #eaeaea;
  font-size: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
}
input[type="checkbox"]:checked + label:before {
  color: #329a65;
}
.agree {
  font-size: 14px;
  color: black;
  vertical-align: middle;
}
.info {
  color: #329a65;
}

.submit {
  background: #329a65;
  display: block;
  padding: 15px 0;
  margin-top: 25px;
  border: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}
