body {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 16px;
  color: black;
  font-family: "Roboto", sans-serif;
}

li,
ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

input,
select {
  outline: none;
}
option {
  color: black;
  border: 1px solid black;
}
option:active {
  border: 1px solid black;
  outline: black;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  height: 100px;
  border-bottom: 2px solid black;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__title {
  font-size: 20px;
  font-weight: bold;
}

.logo__sing {
  padding: 15px 20px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

.logo__sing:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*  Search stuff */

.search {
  margin: 50px auto;
}

.search__form {
  display: flex;
  justify-content: center;
  color: black;
}
.search__text {
  padding: 5px 0 5px 10px;
  border: 1px solid black;
  margin-right: 10px;
}

.search__application-status {
  padding: 5px;
  border: 1px solid black;
}

.search__state {
  padding: 5px;
  border: 1px solid black;
  margin: 0 10px;
}
.search__state:focus {
  border: 1px solid black;
}

.search__value {
}

.submit {
  background-color: white;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 50px;
}
