body{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin:0 auto;
    padding: 20px 0;
    background-color: #3a4965;
    height: 100vh;
}

table{
     border-spacing: 0;
     text-transform: uppercase;
     text-align: center;
     padding: 10px;
     border-collapse: collapse;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
    background-color: white;
 }
.sub_title{
    font-size: 14px;
    font-weight: 400;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: #484848;
}
th{
    height: 165px;
    color: white;
}
td{
    font-size: 16px;
    padding: 25px 0;
    width: 14%;
    border-bottom: 3px solid rgba(0,0,0,0.1);
}
td:nth-child(2n){
    background-color: #e3e3e3;
}

.money{
    margin: 5px 0  0px 0;
    display: block;
    font-size: 36px;
    position: relative;

}
.cent{
    font-size: 18px;
    position: absolute;
    padding: 3px;
}
.month{
    font-size: 14px;
    color: white;
    font-weight: 400;
}
.name{
    font-size: 24px;
}
.btn{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px 30px 5px 30px;
    border: none;
    border-radius: 3px;
    border-bottom: 5px solid rgba(0,0,0,0.1);
    background-color: #414141;
}
.btn:hover{
    box-shadow:0 15px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all .7s;
}
.green{
    background-color: #89c331;
}
.pink{
    background-color: #f04a56;
}
.blue{
    background-color: #20807c;
    border-bottom: 3px solid #20807c;
}

