.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 1366px;
}
.span{
    border: 1px solid #848e97;
    color: black;
    padding: 5px 10px;
    height: 20px;
    width: 150px;
    text-align: center;
    display: block;
    border-radius: 50px;
    margin: 10px 0;
}
.input {
    box-shadow: none;
    outline:0 ;
}

.red {
    box-shadow: 1px 1px 2px 0 red;
    border: 1px solid red;
    outline: 0;
}
.input:focus{
    box-shadow: 1px 1px 2px 0 green;
    border: 1px solid green;
    outline: 0;
}
input:active {
    box-shadow: 1px 1px 2px 0 red;
}