body {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  color: white;
  background: black;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 24px;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}
/* Header */
.logo {
  font-size: 80px;
  color: white;
}
.theme {
  right: 130px;
  top: 40px;
  font-size: 25px;
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  position: absolute;
}
.highlight {
  color: #4bcaff;
}
.nav {
  background-color: #35444f;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 25px 0;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu_item {
}
.menu_link {
  color: white;
  font-size: 24px;
  padding: 24px 40px;
}
.menu_link:hover {
  background-color: #222f3a;
}
/* Maine */
.nav_bar {
  width: 340px;
  height: 400px;
  float: left;
  border: 1px solid #dbdbdb;
}

.nav_bar_menuitem {
  padding: 23px 0 30px 40px;
}
.nav_bar_menulink {
  font-size: 27px;
  color: white;
}
.nav_bar_menuitem:hover {
  background-color: #1b1b1b;
  padding-left: 60px;
}
.img {
  width: 70%;
  height: 530px;
  float: right;
  background: white;
  border: 1px solid #dbdbdb;
  position: relative;
  overflow: hidden;
}
.img_Ramada {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 1s ease-out;
}
.img_Ramada:hover {
  transform: scale(1.3);
  transform: translate(-60%, -50%);
}
.text {
  text-align: left;
  font-size: 18px;
  float: right;
  width: 70%;
  padding-top: 50px;
}
.text_item:last-child {
  padding-top: 24px;
  padding-bottom: 50px;
}
.footer {
  clear: both;
  position: relative;
}
.footer_menu {
  padding: 25px 20px;
  background-color: #b4b7ba;
}

.footer_menu_item {
  display: inline-block;
}
.footer_menu_link {
  font-size: 28px;
  color: black;
  padding-left: 20px;
}

.footer_menu_link:hover {
  color: #3e85a7;
}
.copiright {
  color: black;
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 17px;
}
