body {
  background: #151616;
  margin: 0 auto;
  max-width: 355px;
  font-family: Montserrat sans-serif;
  color: white;
}
section {
  margin: 0 auto;
}
ul {
  display: flex;
  list-style-type: none;
}
nav {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}

/*    Section Header    */
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo {
  padding: 2px 0 0 12px;
}

.hamburger {
  display: inline-block;
  width: 20px;
}

.hamburger:after,
.hamburger:before {
  content: "";
}

.hamburger span,
.hamburger:after,
.hamburger:before {
  width: 35px;
  height: 3px;
  background: #f38a03;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  transition: all 1s;
}

.hamburger span {
  display: none;
  right: 26px;
  top: 29px;
}

.hamburger:after {
  transform: rotate(45deg);
  right: 26px;
  top: 37px;
}

.hamburger:before {
  transform: rotate(135deg);
  right: 26px;
  top: 21px;
}

/* hamburger closed */

.hamburger.closed span {
  display: inline-block;
}

.hamburger.closed:after {
  transform: rotate(0);
  /**/
}

.hamburger.closed:before {
  transform: rotate(0);
  /*top: calc(50% + 15px);*/
}

/*  Section Intro   */

.intro {
  background: url("../img/mobimg.jpg") no-repeat;
  height: 460px;
  width: 355px;
  position: relative;
}

.intro__title {
  font-size: 25px;
  display: inline-block;
  padding: 30px 30px;
  margin-left: 5%;
  text-transform: uppercase;
  background-color: black;
}
.intro__subtitle {
  font-size: 16px;
  text-decoration-line: underline;
  display: inline-block;
  padding: 7px 30px;
  margin-left: 22%;
  background-color: black;
  margin-top: 0;
}

.link {
  padding: 0 50px;
  font-size: 20px;
}

.intro:after {
  content: "";
  width: 280px;
  height: 65px;
  background: #ed1260;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  top: 460px;
  right: 0;
}

.intro__text {
  font-size: 16px;
  margin: 400px 50px 50px 50px;
  width: 235px;
}

/*   services    */

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 250px;
}

.services__info {
  width: 40%;
}

.services__info:nth-child(2n) {
  margin-top: 10px;
}

.vector {
  margin-left: 40px;
  margin-top: 10px;
}
.services__text {
  font-size: 14px;
  text-align: center;
}

/*map*/

.map {
  margin: 60px 10px;
  border: 5px solid #ed1260;
}

.map__location {
  background: url("../img/image 3.jpg");
  width: 314px;
  height: 128px;
  display: block;
  margin: 5px 5px 0 5px;
}

.map__address {
  font-size: 12px;
  text-align: center;
}

/*contacts*/
.contacts {
  border: 5px solid #f38a03;
  text-align: center;
  width: 96%;
}
.wrap__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__title {
  text-transform: uppercase;
  font-size: 20px;
}
.name {
  display: none;
}
.mail {
  display: flex;
  justify-content: center;
}
.icon {
  color: #f38a03;
  font-size: 20px;
  margin: 0px 15px 10px 0;
}
.name {
  padding: 10px 0;
}
.phone {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.number {
  display: block;
}
.location {
  display: flex;
  justify-content: center;
}
.map__address {
  display: block;
}

@media screen and (min-width: 400px) {
  body {
    max-width: 100%;
  }
  section {
    margin: 0 auto;
  }
  nav {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .header {
    max-width: 1100px;
  }
  .intro {
    background: url("../img/intro.jpg") no-repeat, center;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    position: relative;
  }
  .intro__title {
    padding: 50px 45px;
    margin-left: 5%;
    margin-top: 5%;
    text-transform: uppercase;
    background-color: black;
  }
  .intro__subtitle {
    font-size: 22px;
    padding: 15px 50px;
    margin-left: 0;
    background-color: black;
    left: 13%;
    top: 44%;
    position: absolute;
  }
  .intro:after {
    width: 85px;
    height: 350px;
    top: 0;
    right: -85px;
  }
  .intro__text {
    width: 96%;
    font-size: 25px;
    margin: 351px 0px 60px 20px;
  }
  .services {
    margin-top: 135px;
  }
  .services__info {
    width: 30%;
  }

  .vector {
    margin-left: 40%;
    margin-top: 0;
  }
  .services__text {
    font-size: 18px;
  }
  .map {
    height: 300px;
    width: 98%;
    margin: 100px auto;
  }
  .map__location {
    background: url("../img/maplap.jpg");
    width: 95%;
    height: 212px;
    margin: 20px 20px 10px 20px;
  }

  .map__address {
    font-size: 22px;
  }

  .contacts {
    border: none;
    text-align: center;
  }
  .wrap__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
  }
  .contacts__title {
    text-transform: uppercase;
    font-size: 45px;
  }
  .mail {
    flex-direction: column;
    display: block;
  }
  .icon {
    color: #f38a03;
    font-size: 40px;
    margin: 0;
  }
  .name {
    padding: 10px 0;
  }
  .phone {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .number {
    display: block;
    margin-top: 5px;
  }
  .location {
    flex-direction: column;
  }
  .map__address {
    display: block;
  }
  .location__address {
    padding-top: 5px;
  }
}

@media (max-width: 775px) {
  .intro:after {
    width: 350px;
    height: 70px;
    top: 460px;
    right: 0;
  }
  .header {
    justify-content: center;
  }
  .link {
    padding: 0 15px;
  }
}

@media (max-width: 600px) {
  .map {
    height: 300px;
    width: 98%;
    margin: 100px auto;
  }
  .map__location {
    height: 212px;
    width: 93%;
    margin: 20px 20px 10px 20px;
  }
}

@media (max-width: 500px) {
  .link {
    padding: 0 8px;
    font-size: 16px;
  }
}
