body{
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #373737;
	padding: 0 auto;
}
.img{
	width: 100%;
	height: 100%;
	background-size:cover;
}
.menu{
	margin: 30px 0 10px;
	text-decoration: none;
}
.menu__list{
	display: inline-block;
	height: 30px
}
.menu__link{
	margin: 30px 40px 35px 40px;
    text-decoration: none;
    font-size: 16px;
    color: #92d3c6;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: background-color 1s ;
    padding:5px 20px;
}
.menu__link:hover{
	color: #fff	;
	background-color:#16a085;
	border-radius: 2px;
}
.title{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 900;
	margin: 50px 0 30px 0;
	letter-spacing: 2px;
}
.text{
	max-width: 1000px;
	font-size: 16px;
	font-weight: 400;
	margin:0 auto;
	padding-bottom: 40px;
	letter-spacing: 2px;
}
.button{
	padding: 12px 50px 10px 50px;
	text-decoration: none;
	background-color: #16a085;
	font-size: 16px;
	color: #fff;
	border: 1px solid #16a085;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 135px;
	transition: background-color 1s;
}
.button:hover{
	color:#16a085;
	background-color: #fff;
}
.copyright{
	font-size: 14px;
	font-weight: 400;
	right: 0;
	margin:0 0 20px 700px;
}