.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 1366px;
}
ul{
    padding: 0;
    list-style: none;
}
.main__list{

}
.timer{
    text-align: center;
    display: block;
    font-size: 30px;
}
.main__list_item{
    font-size: 40px;

}