body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: black;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
*,
*after,
*before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  display: inline-block;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
/* Header */
.header-img {
  margin: 0 auto;
  height: 450px;
  width: 100%;
  background: url(../img/background/header-bg-img.jpg) no-repeat, center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  height: 70px;
  background-color: #1d2124;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-link {
  display: block;
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}
.logo-link img {
  margin-top: 10px;
}

.logo-name {
  padding: 0 5px;
  display: block;
}
.logo-name:hover {
  padding: 23px 5px 23px 5px;
  transition: background-color 1s;
  background-color: rgba(0, 0, 0, 0.2);
}
.link {
  padding: 0 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.link:hover {
  padding: 26px 15px 24px 15px;
  transition: background-color 1s;
  background-color: rgba(0, 0, 0, 0.2);
}
.icon-search {
  padding: 22px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.icon-search:hover {
  transition: background-color 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Intro */

.intro {
  text-align: center;
  margin-top: 120px;
}

.intro-title {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 400;
  color: white;
  margin-bottom: 60px;
}

.btn {
  border-radius: 2px;
  color: white;
  text-align: center;
  margin: 0 1%;
}
.btn:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.subscribe {
  background: #89ca62;
  padding: 15px 20px;
}

.articles {
  background: #14b9d5;
  padding: 15px 20px;
}

.section-title {
  padding-top: 50px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #18b4cf;
  text-transform: uppercase;
}

/* Most popular posts */

.most-popular {
  background-color: #f2f2f2;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}
.card-items:hover {
  cursor: pointer;
}
.card-items:hover .card-title {
  cursor: pointer;
  color: #14b9d5;
}

.card-items:nth-child(4) {
  margin-top: -120px;
}
.card-items:last-child {
  margin-top: -90px;
}

.card-img {
  width: 100%;
}
.card-title {
  margin: -5px 0 0 0;
  text-align: center;
  background-color: white;
  font-weight: bold;
  padding: 15px 0 20px 0;
}

/* Our Clients */

.clients {
  margin: 0 auto;
  width: 100%;
  height: 590px;
  background: url(../img/background/background.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.client-title {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 200px;
  color: white;
}
.client-title:after {
  content: "";
  display: block;
  background: #14b9d5;
  height: 2px;
  width: 60px;
  margin: 50px auto;
  box-sizing: border-box;
}

.clients-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-logo {
  padding: 0 35px;
  display: block;
}

/* Top rated */
.top-rated {
  margin-bottom: 50px;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1900px;
}

.rated-img {
  width: 100%;
  background-size: cover;
}

/* hot-news */

.news-wrap {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px 2vh;
  margin: 20px 0;
}
.first {
  grid-template-columns: 4fr 1fr;
  grid-gap: 10px 2vh;
}
.long {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.long-text {
  align-self: center;
  justify-self: center;
}
.img-wrap {
  width: 100%;
  background-color: #f2f2f2;
}

.news-title {
  font-weight: bold;
  padding: 10px 0;
  color: #353a3d;
  text-align: center;
}

.news-img {
  width: 100%;
  background-size: cover;
}

.news-info {
  padding: 0 20px;
}

.news-text {
  color: #5b6469;
  font-size: 14px;
  font-weight: 400;
}

/* Foooter */

.footer {
  background-color: #1d2124;
  color: white;
  margin-top: 40px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  display: block;
}
