.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  flex: 0 0 auto;
  box-shadow: 0 -1px 28px rgba(0, 0, 0, 0.1);

  &__copyright {
    font-size: 20px;
  }
  &__name {
    text-decoration: none;
    color: black;
  }
}
