body {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    max-width: 1170px;
    font-size: 20px;
    height: 100vh;
}

.btn__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle {
    margin: 5px;
}
.btn{
    text-decoration: none;
    color: black;
    display: block;
    border: 1px solid black;
    padding: 10px 20px;
}