.form {
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  & label {
    display: block;
    width: 50px;
  }
  &__item {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__input {
    display: block;
    margin: 0 15px;
    width: 300px;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    color: #7b8a8b;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
}
