body{
  color: $color-primary;
  font-family: $font-primary;
  font-size: 16px;
}
.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  padding: 0;
}

li,
ul{
  list-style: none;
}

a{
  color:$color-primary;
  text-decoration: none;
}
@media (max-width: 1170px) {
  .container{
    width: 100%;
    max-width: 768px;

  }
}
@media (max-width: 768px) {
  .container{
    width: 100%;
    max-width: 320px;

  }
}