body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background: #dddfe036;
}

button,
input {
  overflow: visible;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1170px;
}

.counter {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 3rem;
}

.btn {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s;
  user-select: none;
  text-align: center;
  transition: background-color 0.15s ease-in-out;
}
.btn-blue {
  background-color: #2c3e50;
  border-color: #2c3e50;
  &:hover {
    background-color: #0d243d;
  }
}
.btb-red {
  background-color: #e02d2df7;
  border-color: #e02d2df7;
  &:hover {
    background-color: #802711;
  }
}

.btb-green {
  background-color: #34b908f7;
  border-color: #34b908f7;
  &:hover {
    background-color: #165710;
  }
}
