.header {
  box-shadow: 0 -1px 28px rgba(0, 0, 0, 0.1);
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  &__link {
    cursor: pointer;
    background: transparent;
    font-size: 20px;
    border-radius: 3px;
    color: black;
    margin: 0 auto;
    padding: 0.25em 1em;
    transition: 0.5s all ease-out;
  }
}
.primery-link {
  margin: 0 auto;
  padding: 0.25em 1em;
  transition: 0.5s all ease-out;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 20px 0;
  font-weight: 400px;
  height: 50px;
  width: 100%;

  ul {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }

  li {
    display: block;
  }
}

.logo {
  &__link {
    text-decoration: none;
    font-size: 50px;
    color: black;
    position: relative;

    &:after {
      content: "N";
      position: absolute;
      left: 27px;
      font-size: 48px;
      top: 1px;
      display: inline-block;
      width: 10px;
      height: 10px;
      // animation: rotation 5s infinite linear;
    }
  }
}
// @keyframes rotation {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(359deg);
//   }
// }
