.header {
  margin: 1.5rem auto;

  &__title {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    i {
      color: #2c3e50;
      font-weight: 900;
    }
  }
  &__subtitle {
    color: #95a5a6;
  }
  &__text {
    text-align: center;
  }
}
