.footer{
  background-color: black;
  width: 100%;
  color:white;

  .footer_info{
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 65px 0;
    h5{
        text-transform: uppercase;
        line-height: 22px;
        font-weight: bold;
      font-size: 20px;
    }
    p{
      line-height: 28px;
    }
    .footer_icons{
      margin: 40px 0;
      a{
        padding: 5px 10px;
        text-align: center;
        margin: 0 10px;
        &:hover{
          box-shadow: 0 0 15px rgba(255,255,255,0.4)
        }
      }
      &_rss{
        border: 2px solid #F8902E;
        box-sizing: border-box;
        border-radius: 30px;
        img{
          margin-bottom: 1px;
        }


      }
      &_facebook{
        border: 2px solid #39599F;
        box-sizing: border-box;
        border-radius: 30px;
      }
      &_twitter{
        border: 2px solid #45B0E3;
        box-sizing: border-box;
        border-radius: 30px;
      }
      &_dribbble{
        border: 2px solid #D97AB0;
        box-sizing: border-box;
        border-radius: 30px;
      }
      &_pinterest{
        border: 2px solid #CC212C;
        box-sizing: border-box;
        border-radius: 30px;
      }
    }

    .footer_connection{
      a{
        color:white;
        padding: 0 10px;
      }
    }
    }
}

@media(max-width: 768px) {
  .footer{
    .footer_info{
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 65px 0;
      h5{
        font-size: 14px;
      }
      p{
        line-height: 20px;
        font-size: 12px;
      }
      .footer_connection{
        display: flex;
        flex-direction: column;
        a{
          color:white;
          padding: 0 10px;
        }
        span{
         color: black;
          padding: 5px;
        }
      }
    }
  }
}