.header {
  nav {
    margin: 50px 0;
    font-size: 20px;
    text-transform: uppercase;
    @extend %flex-center;
    ul {
      padding-left: 0px;
      li {
        display: inline-block;
        padding: 0 20px;

        a {
          transition: 0.2s all;
          &:hover {
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }
  }
  &_burger {
    display: none;
  }
  &_img {
    background: url("../img/introdesktop.jpg") center, no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
  }
}
@media (max-width: 1170px) {
  .header {
    nav {
      margin: 30px 0;
      font-size: 15px;
      ul {
        li {
          padding: 0 15px;
        }
      }
    }
  }
  &_img {
    background: url("../img/introplanshet.jpg") center, no-repeat;
    width: 768px;
    height: 361px;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0 auto;
  }
  .header {
    position: relative;
    nav {
      margin: 0 auto;
      font-size: 11px;
      .header_menu.active {
        display: block;
      }
      ul {
        display: none;
        margin: 0;
        position: absolute;
        background: white;
        right: 28px;
        top: 67px;
        li {
          display: block;
          padding: 5px 0 5px 10px;
          border-bottom: 2px solid #f5f5f5;
          &:hover {
            background-color: #f5f5f5;
          }
          a:hover {
            border-bottom: none;
            color: #57a4a4;
          }
        }
      }
    }
    &_burger.active {
      span {
        background: black;

        &:before {
          transform: rotate(135deg);

          bottom: 5px;
        }
        &:after {
          transform: rotate(45deg);
          bottom: 23px;
        }
      }
    }
    &_burger {
      display: block;
      width: 44px;
      height: 37px;
      background-color: black;
      position: absolute;
      right: 0;
      top: 23px;
      span {
        display: block;
        height: 2px;
        width: 17px;
        background: white;
        position: relative;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
        &:before,
        &:after {
          content: "";
          position: relative;
          height: 2px;
          width: 17px;
          display: inline-block;
          background: white;
          transition: 0.1s all;
        }
        &:before {
          bottom: 6px;
        }
        &:after {
          bottom: 18px;
        }
      }
    }
    &_img {
      background: url("../img/introphone.jpg") center, no-repeat;
      background-size: cover;
      margin-top: 83px;
      width: 100%;
      height: 150px;
    }
  }
}
