.instagram{
  background-color: #e3e3e3 ;
  width: 100%;
  padding-bottom: 50px;
  div{
    position: relative;
    a{
      position: absolute;
     right: 0;
      top: 0;
      margin: 66px 0 25px 0;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 22px;
    }
    div{
      img{
        padding: 0 5px;
        width: 23%;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 1170px) {
  .instagram{
    div{
      a{
        margin: 55px 0 25px 0;
        font-size: 12px;
      }
      div{
        img{
          padding: 0 0.9%;
          width: 31%;
          cursor: pointer;
          &:last-child{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .instagram{
    background-color: white ;
    padding-bottom: 42px;
    div{
      a{
        display: none;
      }
      div{
        .instagram_photos{
          display: none;
        }
        .instagram_photos:first-child{
          display: block;
        }
        img{
          padding: 0;
          width: 100%;

        }
      }
    }
  }
}