h2{
  text-transform: uppercase;
  line-height: 22px;
  padding: 66px 0 25px 0;
  font-weight: bold;
}

.ourpost{
  text-align: left;
  margin-bottom: 65px;
  @extend %flex;
  &_card{
    display: flex;
    width: 50%;
    padding: 25px 0;
    &_photo{
      &:hover{
        cursor:pointer;
      }
    }
    &_info{
      padding-left:20px ;
      h4{
        line-height: 30px;
        font-weight: bold;
        &:hover{
          cursor:pointer;
        }
      }
      a{
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
      }
      span{
        padding: 0 5px;
      }
      p{
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}
@media (max-width: 1170px) {
  h2{
    padding: 50px 0 25px 0;
    font-size: 16px;
  }
  .ourpost{
    margin-bottom: 60px;
    &_card{
      width:70%;
      padding: 15px 0;
      &_photo{
        &:hover{
          cursor:pointer;
        }
      }
      &_info{
        padding-left:20px ;
        h4{
          padding-bottom: 10px;
        }
        p{
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

}
@media (max-width: 768px) {
  h2{
    padding: 38px 0 23px 0;
    font-size: 14px;
    line-height: 30px;
  }
  .ourpost{
    margin-bottom: 10px;
    &_card:last-child{
      display: none;
    }
    &_card:first-child{
      padding-top: 0;
    }
    &_card{
      flex-direction: column;
      width:100%;
      padding: 23px 0 14px 0;
      &_photo{
        width: 160px;
        height: 140px;
        &:hover{
          cursor:pointer;
        }
      }
      &_info{
        padding-left:0 ;
        h4{
          padding: 10px 0 8px 0;
        }
        p{
          display: none;
        }
      }
    }
  }
}
