body{
  margin: 0 auto;
  padding:0 auto;
  font-size: 16px;
  color:white;
  font-family: "Montserrat", sans-serif;
}

li,
ul{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

h1{
  font-size: 82px;
  font-weight: bold;
  line-height: 20px;
  color: white;
}

h2{
  font-size: 54px;
  font-weight: bold;
  line-height: 20px;
  color: #635c73;
  text-transform: uppercase;
}

h3{
  font-size: 48px;
  font-weight: bold;
  line-height: 20px;
  color: #8d81ac;
  margin: 0;
}

h4{
  line-height: 20px;
  color: #323232;
  margin: 0;
}

h5{
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h6{
  font-size: 30px;
  font-family: $font-primary;
  color: #8d81ac;
  line-height: 20px;
  margin:0 auto;
}





@media (max-width: 1170px) {
  .container{
    width: 100%;
    max-width: 95%;
  }

  h1{
    font-size: 72px;
  }

  h2{
    font-size: 54px;
    font-weight: bold;
    line-height: 20px;
    color: #635c73;
    text-transform: uppercase;
  }

  h3{
    font-size: 48px;
    font-weight: bold;
    line-height: 20px;

  }

  h4{
    line-height: 20px;
    color: #323232;
  }

  h5{
    font-size: 48px;
  }


}
@media (max-width: 1170px) {
  .container {
    width: 100%;
    max-width: 90%;

  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 42px;
    text-align: center;
  }
  h5 {
    font-size: 42px;
  }
}

@media (max-width: 768px) {

  .container {
    width: 100%;
    max-width: 92%;

  }
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 32px;
    line-height: 38px;
  }
  h5 {
    font-size: 36px;
  }
  h6{
    font-size: 18px;
  }
}