body {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 18px;
  margin: 0 auto;
  color: #fff;
  font-family: "Verdana", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
}

.header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  background: url(../img/logo.png) no-repeat;
}

.logo__title {
  padding-left: 65px;
  width: 100px;
  font-size: 29px;
  line-height: 0.8;
  font-weight: bold;
  text-transform: uppercase;
}
.logo__title:hover {
  color: #f26522;
  background: url(../img/logo2.png) no-repeat;
}
.logo__subtitle {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mail:hover {
  color: #f26522;
}
.phone:hover {
  color: #f26522;
}

/*     Display-flex
   display: flex;
   flex-direction:row;	
   flex-wrap: nowrap;	
   justify-content: flex-start	;
   align-items: center;	
 */

.section {
  background: url(../img/background.jpg) center, no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.wrap {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item {
  position: relative;
  margin-bottom: 60px;
  cursor: pointer;
}
.border-wrap {
  background: linear-gradient(to bottom, white, black);
  padding: 3px;
}
.card__img {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.card__item:hover .view__details {
  opacity: 1;
  bottom: 47px;
}

.view__details {
  cursor: default;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  background-color: #f26522;
  height: 65px;
  bottom: 30px;
  align-items: center;
  opacity: 0;
  transition: opasity 1s;
}
.prise {
  flex-direction: column;
  display: flex;
  font-size: 10px;
  left: 20px;
  padding-left: 20px;
}
.evro {
  font-size: 25px;
}
.more__detailse {
  text-decoration: none;
  font-size: 17px;
  color: white;
  cursor: pointer;
}
.more__detailse:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
  margin: 0 10px 1px 10px;
}

.card__name {
  text-align: center;
  font-size: 18px;
  display: block;
}
.card__name:hover {
  color: #f26522;
  cursor: pointer;
}

.coporight {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
